<div class="homepage-social-icons">
  <ul>
    <li><%= link_to image_tag('facebook.png', alt: 'Facebook'), 'http://facebook.com' %></li>
    <li><%= link_to image_tag('twitter.png', alt: 'Twitter'), 'http://twitter.com' %></li>
    <li><%= link_to image_tag('google_plus.png', alt: 'Google Plus'), 'http://plus.google.com' %></li>
    <li><%= link_to image_tag('pinterest.png', alt: 'Pinterest'), 'http://pinterest.com' %></li>
    <li><%= link_to image_tag('email.png', alt: 'Email'), '#' %></li>
    <li><%= link_to image_tag('printer.png', alt: 'Printer'), '#' %></li>
  </ul>
</div>